[Desktop Entry]
Type=Application
Name=Tumblr Scraper - Linux
Comment=Start Tumblr-Scraper and open its browser interface
Terminal=true
Exec=/bin/sh -c "exec \"\\$(dirname -- \"\\$1\")/Tumblr-Scraper-Linux.sh\"" sh %k
